# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [3]:
import pandas as pd

## imports for Python, Pandas

In [4]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [5]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [6]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [7]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [20]:
# load json as string
#json.load((open('data/world_bank_projects_less.json')))

In [9]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [15]:
df = pd.read_json('data/world_bank_projects.json')
df.head(50)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...
5,{'$oid': '52b213b38594d8a2be17c785'},2014,October,2013-10-31T00:00:00Z,REPUBLIC OF KENYA,NaN,Republic of Kenya!$!KE,KE,Republic of Kenya,Kenya,...,JB,IBRD,Active,Y,"{'Percent': 100, 'Name': 'Social safety nets'}","[{'code': '54', 'name': 'Social safety nets'}]",54,10000000,10000000,http://www.worldbank.org/projects/P146161?lang=en
6,{'$oid': '52b213b38594d8a2be17c786'},2014,October,2013-10-29T00:00:00Z,GOVERNMENT OF INDIA,2019-06-30T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,TI,IBRD,Active,N,"{'Percent': 20, 'Name': 'Administrative and ci...","[{'code': '25', 'name': 'Administrative and ci...","39,25",500000000,500000000,http://www.worldbank.org/projects/P121185/firs...
7,{'$oid': '52b213b38594d8a2be17c787'},2014,October,2013-10-29T00:00:00Z,PEOPLE'S REPUBLIC OF CHINA,NaN,People's Republic of China!$!CN,CN,People's Republic of China,China,...,LR,IBRD,Active,N,"{'Percent': 100, 'Name': 'Climate change'}","[{'code': '81', 'name': 'Climate change'}]",81,0,27280000,http://www.worldbank.org/projects/P127033/chin...
8,{'$oid': '52b213b38594d8a2be17c788'},2014,October,2013-10-29T00:00:00Z,THE GOVERNMENT OF INDIA,2018-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,TI,IBRD,Active,N,"{'Percent': 87, 'Name': 'Other rural developme...","[{'code': '79', 'name': 'Other rural developme...",79,160000000,160000000,http://www.worldbank.org/projects/P130164/raja...
9,{'$oid': '52b213b38594d8a2be17c789'},2014,October,2013-10-29T00:00:00Z,THE KINGDOM OF MOROCCO,2014-12-31T00:00:00Z,Kingdom of Morocco!$!MA,MA,Kingdom of Morocco,Morocco,...,"BM,BC,BZ",IBRD,Active,N,"{'Percent': 33, 'Name': 'Other accountability/...","[{'code': '29', 'name': 'Other accountability/...","27,30,29",200000000,200000000,http://www.worldbank.org/projects/P130903?lang=en
10,{'$oid': '52b213b38594d8a2be17c78a'},2014,October,2013-10-25T00:00:00Z,GOVERNMENT OF SOUTH SUDAN,NaN,Republic of South Sudan!$!SS,SS,Republic of South Sudan,South Sudan,...,"AZ,JB,AH",IBRD,Active,Y,"{'Percent': 100, 'Name': 'Global food crisis r...","[{'code': '91', 'name': 'Global food crisis re...",91,0,7530000,http://www.worldbank.org/projects/P145339?lang=en
11,{'$oid': '52b213b38594d8a2be17c78b'},2014,October,2013-10-25T00:00:00Z,NaN,2017-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,"JB,YC,WD,TI",IBRD,Active,N,"{'Percent': 60, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","81,87,52,78",250000000,250000000,http://www.worldbank.org/projects/P146653?lang=en
12,{'$oid': '52b213b38594d8a2be17c78c'},2014,October,2013-10-24T00:00:00Z,GOVERNMENT OF GHANA,2019-06-30T00:00:00Z,Republic of Ghana!$!GH,GH,Republic of Ghana,Ghana,...,CZ,IBRD,Active,N,"{'Percent': 0, 'Name': ''}",NaN,NaN,97000000,97000000,http://www.worldbank.org/projects/P144140/gh-e...
13,{'$oid': '52b213b38594d8a2be17c78d'},2014,October,2013-10-22T00:00:00Z,GOVERNMENT OF TIMOR LESTE,NaN,Democratic Republic of Timor-Leste!$!TP,TP,Democratic Republic of Timor-Leste,Timor-Leste,...,"BV,TI",IBRD,Active,Y,"{'Percent': 20, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","78,81,47",40000000,40000000,http://www.worldbank.org/projects/P130975/timo...
14,{'$oid': '52b213b38594d8a2be17c78e'},2014,October,2013-10-22T00:00:00Z,GOVERNMENT OF JORDAN,NaN,Hashemite Kingdom of Jordan!$!JO,JO,Hashemite Kingdom of Jordan,Jordan,...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Social safety nets'}","[{'code': '54', 'name': 'Social safety nets'},...","53,56,54",0,9500000,http://www.worldbank.org/projects/P144832?lang=en
15,{'$oid': '52b213b38594d8a2be17c78f'},2014,October,2013-10-17T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Samoa!$!WS,WS,Samoa,Samoa,...,TI,IBRD,Active,N,"{'Percent': 60, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","49,81,78",20000000,20000000,http://www.worldbank.org/projects/P145545?lang=en
16,{'$oid': '52b213b38594d8a2be17c790'},2014,October,2013-10-17T00:00:00Z,MINISTRY OF FINANCE,2015-12-31T00:00:00Z,Samoa!$!WS,WS,Samoa,Samoa,...,"AZ,AJ,AH",IBRD,Active,N,"{'Percent': 100, 'Name': 'Other rural developm...","[{'code': '79', 'name': 'Other rural developme...",79,5000000,5000000,http://www.worldbank.org/projects/P145938?lang=en
17,{'$oid': '52b213b38594d8a2be17c791'},2014,October,2013-10-16T00:00:00Z,MINISTRY OF FINANCE AND BUDGET (MFB),NaN,Republic of Madagascar!$!MG,MG,Republic of Madagascar,Madagascar,...,EP,IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,0,85400000,http://www.worldbank.org/projects/P132616?lang=en
18,{'$oid': '52b213b38594d8a2be17c792'},2014,October,2013-10-16T00:00:00Z,ROYAL GOVERNMENT OF CAMBODIA,NaN,Kingdom of Cambodia!$!KH,KH,Kingdom of Cambodia,Cambodia,...,"BK,JB,BH,BC,JA",IBRD,Active,Y,"{'Percent': 17, 'Name': 'Child health'}","[{'code': '63', 'name': 'Child health'}, {'cod...","69,57,25,67,63",0,13450000,http://www.worldbank.org/projects/P146271?lang=en
19,{'$oid': '52b213b38594d8a2be17c793'},2014,October,2013-10-10T00:00:00Z,MINISTRY OF FINANCE,NaN,Kingdom of Morocco!$!MA,MA,Kingdom of Morocco,Morocco,...,"BH,BC,BZ",IBRD,Active,N,"{'Percent': 40, 'Name': 'Public expenditure, f...","[{'code': '27', 'name': 'Public expenditure, f...","25,26,27",0,4350000,http://www.worldbank.org/projects/P143979?lang=en
20,{'$oid': '52b213b38594d8a2be17c794'},2014,October,2013-10-09T00:00:00Z,AGA KHAN DEVELOPMENT NETWORK (AKDN),NaN,Kyrgyz Republic!$!KG,KG,Kyrgyz Republic,Kyrgyz Republic,...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Conflict prevention a...","[{'code': '58', 'name': 'Conflict prevention a...","57,58",0,2000000,http://www.worldbank.org/projects/P132577?lang=en
21,{'$oid': '52b213b38594d8a2be17c795'},2014,October,2013-10-07T00:00:00Z,NEPAL,NaN,Nepal!$!NP,NP,Nepal,Nepal,...,"BH,YW,JB",IBRD,Active,N,"{'Percent': 30, 'Name': 'Urban services and ho...","[{'code': '71', 'name': 'Urban services and ho...","57,71",0,2750000,http://www.worldbank.org/projects/P145359?lang=en
22,{'$oid': '52b213b38594d8a2be17c796'},2014,October,2013-10-07T00:00:00Z,MINISTRY OF PLANNING AND INTERNATIONAL C,NaN,Hashemite Kingdom of Jordan!$!JO,JO,Hashemite Kingdom of Jordan,Jordan,...,"WC,BS,BH,TZ,WB",IBRD,Active,N,"{'Percent': 25, 'Name': 'Other social developm...","[{'code': '62', 'name': 'Other social developm...","58,62",0,50000000,http://www.worldbank.org/projects/P147689?lang=en
23,{'$oid': '52b213b38594d8a2be17c797'},2014,October,2013-10-03T00:00:00Z,REPUBLIC OF TAJIKISTAN,NaN,Republic of Tajikistan!$!TJ,TJ,Republic of Tajikistan,Tajikistan,...,JA,IBRD,Active,N,"{'Percent': 60, 'Name': 'Nutrition and food se...","[{'code': '68', 'name': 'Nutrition and food se...","63,68",0,2800000,http://www.worldbank.org/projects/P146109?lang=en
24,{'$oid': '52b213b38594d8a2be17c798'},2014,September,2013-09-30T00:00:00Z,REPUBLIC OF AZERBAIJAN,2018-12-31T00:00:00Z,Republic of Azerbaijan!$!AZ,AZ,Republic of Azerbaijan,Azerbaijan,...,"AB,AZ,YA",IBRD,Active,N,"{'Percent': 30, 'Name': 'Rural markets'}","[{'code': '75', 'name': 'Rural markets'}, {'co...","56,78,76,75",34500000,34500000,http://www.worldbank.org/projects/P122812/thir...
25,{'$oid': '52b213b38594d8a2be17c799'},2014,September,2013-09-30T00:00:00Z,UNIVERSITY OF QUEENSLAND,NaN,East Asia and Pacific!$!4E,4E,East Asia and Pacific,East Asia and Pacific,...,"AB,AZ",IBRD,Active,N,"{'Percent': 40, 'Name': 'Other environment and...","[{'code': '86', 'name': 'Other environment and...","80,81,86",0,4500000,http://www.worldbank.org/projects/P123933/capt...
26,{'$oid': '52b213b38594d8a2be17c79a'},2014,September,2013-09-30T00:00:00Z,LAO PEOPLES DEMOCRATIC REPUBLIC,2014-03-31T00:00:00Z,Lao People's Democratic Republic!$!LA,LA,Lao People's Democratic Republic,Lao People's Democratic Republic,...,"LG,FB,EZ,YZ,BC",IBRD,Closed,N,"{'Percent': 14, 'Name': 'Regulation and compet...","[{'code': '40', 'name': 'Regulation and compet...","67,27,49,40",20000000,20000000,http://www.worldbank.org/projects/P143025/lao-...
27,{'$oid': '52b213b38594d8a2be17c79b'},2014,September,2013-09-30T00:00:00Z,PACIFIC AVIATION SECURITY OFFICE,2018-12-31T00:00:00Z,Pacific Islands!$!4P,4P,Pacific Islands,Pacific Islands,...,"BV,TV",IBRD,Active,N,"{'Percent': 5, 'Name': 'Climate change'}","[{'code': '81', 'name': 'Climate change'}, {'c...","52,47,25,81",2150000,2150000,http://www.worldbank.org/projects/P145057/paci...
28,{'$oid': '52b213b38594d8a2be17c79c'},2014,September,2013-09-30T00:00:00Z,SOLOMON ISLANDS GOVERNMENT,NaN,Solomon Islands!$!SB,SB,Solomon Islands,Solomon Islands,...,"BZ,AZ",IBRD,Active,Y,"{'Percent': 30, 'Name': 'Rural policies and in...","[{'code': '77', 'name': 'Rural policies and in...","57,78,77",3000000,3000000,http://www.worldbank.org/projects/P146021?lang=en
29,{'$oid': '52b213b38594d8a2be17c79d'},2014,September,2013-09-27T00:00:00Z,GOVERNMENT OF MOZAMBIQUE,NaN,Republic of Mozambique!$!MZ,MZ,Republic of Mozambique,Mozambique,...,"JB,BW,WZ,WD",IBRD,Active,Y,"{'Percent': 4, 'Name': 'Other social developme...","[{'code': '62', 'name': 'Other social developm...","85,62",32000000,32000000,http://www.worldbank.org/projects/P146098?lang=en
30,{'$oid': '52b213b38594d8a2be17c79e'},2014,September,2013-09-26T00:00:00Z,GOVERNMENT OF ANGOLA,2018-04-30T00:00:00Z,People's Republic of Angola!$!AO,AO,People's Republic of Angola,Angola,...,EP,IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,75000000,75000000,http://www.worldbank.org/projects/P122700/ango...
31,{'$oid': '52b213b38594d8a2be17c79f'},2014,September,2013-09-26T00:00:00Z,GOVERNMENT OF TANZANIA,NaN,United Republic of Tanzania!$!TZ,TZ,United Republic of Tanzania,Tanzania,...,"AZ,WZ,AT",IBRD,Active,N,"{'Percent': 30, 'Name': 'Water resource manage...","[{'code': '85', 'name': 'Water resource manage...","86,82,80,85",0,5980000,http://www.worldbank.org/projects/P126361?lang=en
32,{'$oid': '52b213b38594d8a2be17c7a0'},2014,September,2013-09-26T00:00:00Z,FEDERAL REPUBLIC OF NIGERIA,2018-12-31T00:00:00Z,Federal Republic of Nigeria!$!NG,NG,Federal Republic of Nigeria,Nigeria,...,"EV,FK,YC,FC",IBRD,Active,N,"{'Percent': 5, 'Name': 'Land administration an...","[{'code': '83', 'name': 'Land administration a...","41,83",300000000,300000000,http://www.worldbank.org/projects/P131973/hous...
33,{'$oid': '52b213b38594d8a2be17c7a1'},2014,September,2013-09-26T00:00:00Z,GOVERNMENT OF SEYCHELLES,2014-06-30T00:00:00Z,Republic of Seychelles!$!SC,SC,Republic of Seychelles,Seychelles,...,"BZ,BO,BC",IBRD,Active,N,"{'Percent': 30, 'Name': 'Social safety nets'}","[{'code': '54', 'name': 'Social safety nets'},...","43,23,54",7000000,7000000,http://www.worldbank.org/projects/P132425?lang=en
34,{'$oid': '52b213b38594d8a2be17c7a2'},2014,September,2013-09-26T00:00:00Z,PEOPLE'S REPUBLIC OF BANGLADESH,NaN,People's Republic of Bangladesh!$!BD,BD,People's Republic of Bangladesh,Bangladesh,...,EV,IBRD,Active,Y,"{'Percent': 5, 'Name': 'Decentralization'}","[{'code': '26', 'name': 'Decentralization'}, {...","48,45,66,26",0,16710000,http://www.worldbank.org/projects/P145118?lang=en
35,{'$oid': '52b213b38594d8a2be17c7a3'},2014,September,2013-09-25T00:00:00Z,REPUBLIC OF SENEGAL,2019-06-30T00:00:00Z,Republic of Senegal!$!SN,SN,Republic of Senegal,Senegal,...,"TI,YA,AZ",IBRD,Active,N,"{'Percent': 50, 'Name': 'Conflict prevention a...","[{'code': '58', 'name': 'Conflict prevention a...","39,78,58",40000000,40000000,http://www.worldbank.org/projects/P125506/snca...
36,{'$oid': '52b213b38594d8a2be17c7a4'},2014,September,2013-09-24T00:00:00Z,REPUBLIC OF THE UNION OF MYANMAR,2018-04-30T00:00:00Z,Republic of the Union of Myanmar!$!MM,MM,Republic of the Union of Myanmar,Myanmar,...,LG,IBRD,Active,N,"{'Percent': 100, 'Name': 'Rural services and i...","[{'code': '78', 'name': 'Rural services and in...",78,140000000,140000000,http://www.worldbank.org/projects/P143988/elec...
37,{'$oid': '52b213b38594d8a2be17c7a5'},2014,September,2013-09-23T00:00:00Z,THE PALESTINE LIBERATION ORGANIZATION,NaN,West Bank and Gaza!$!GZ,GZ,West Bank and Gaza,West Bank and Gaza,...,"BS,JB",IBRD,Closed,Y,"{'Percent': 100, 'Name': 'Social safety nets'}","[{'code': '54', 'name': 'Social safety nets'}]",54,0,10000000,http://www.worldbank.org/projects/P144967?lang=en
38,{'$oid': '52b213b38594d8a2be17c7a6'},2014,September,2013-09-20T00:00:00Z,THE ARGENTINE REPUBLIC,NaN,Argentine Republic!$!AR,AR,Argentine Republic,Argentina,...,"AJ,AI,AH,AB",IBRD,Active,N,"{'Percent': 40, 'Name': 'Climate change'}","[{'code': '81', 'name': 'Climate change'}, {'c...","85,82,55,83,81",0,3960000,http://www.worldbank.org/projects/P125804/adap...
39,{'$oid': '52b213b38594d8a2be17c7a7'},2014,September,2013-09-20T00:00:00Z,THE GOVERNMENT OF THE GAMBIA,NaN,Republic of The Gambia!$!GM,GM,Republic of The Gambia,"Gambia, The",...,"BU,BC",IBRD,Active,Y,"{'Percent': 100, 'Name': 'Public expenditure, ...","[{'code': '27', 'name': 'Public expenditure, f...",27,5000000,5000000,http://www.worldbank.org/projects/P132881?lang=en
40,{'$oid': '52b213b38594d8a2be17c7a8'},2014,September,2013-09-17T00:00:00Z,GOVERNMNET OF RUSSIAN FEDERATION,2018-12-31T00:00:00Z,Russian Federation!$!RU,RU,Russian Federation,Russian Federation,...,"CA,BW,WZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Climate change'}","[{'code': '81', 'name': 'Climate change'}, {'c...","85,82,52,81",60000000,60000000,http://www.worldbank.org/projects/P127676/russ...
41,{'$oid': '52b213b38594d8a2be17c7a9'},2014,September,2013-09-17T00:00:00Z,CONGO REPUB,2018-09-30T00:00:00Z,Republic of Congo!$!CG,CG,Republic of Congo,"Congo, Republic of",...,"EL,EV",IBRD,Active,N,"{'Percent': 15, 'Name': 'Micro, Small and Medi...","[{'code': '41', 'name': 'Micro, Small and Medi...","66,41",10000000,10000000,http://www.worldbank.org/projects/P128628/cong...
42,{'$oid': '52b213b38594d8a2be17c7aa'},2014,September,2013-09-13T00:00:00Z,RUSSIAN FEDERATION,2017-12-31T00:00:00Z,Russian Federation!$!RU,RU,Russian Federation,Russian Federation,...,BC,IBRD,Active,N,"{'Percent': 75, 'Name': 'Public expenditure, f...","[{'code': '27', 'name': 'Public expenditure, f...","28,27",50000000,50000000,http://www.worldbank.org/projects/P122998/fisc...
43,{'$oid': '52b213b38594d8a2be17c7ab'},2014,September,2013-09-12T00:00:00Z,SAO TOME & PRINCIPE,2010-06-30T00:00:00Z,Democratic Republic of Sao Tome and Prin!$!ST,ST,Democratic Republic of Sao Tome and Prin,Sao Tome and Principe,...,LC,IBRD,Closed,N,"{'Percent': 100, 'Name': 'Other public sector ...","[{'code': '30', 'name': 'Other public sector g...",30,0,100000,http://www.worldbank.org/projects/P098847/sao-...
44,{'$oid': '52b213b38594d8a2be17c7ac'},2014,September,2013-09-12T00:00:00Z,SOLOMON ISLANDS,NaN,Solomon Islands!$!SB,SB,Solomon Islands,Solomon Islands,...,LS,IBRD,Active,N,"{'Percent': 100, 'Name': 'Other environment an...","[{'code': '86', 'name': 'Other environment and...",86,0,300000,http://www.worldbank.org/projects/P118757?lang=en
45,{'$oid': '52b213b38594d8a2be17c7ad'},2014,September,2013-09-12T00:00:00Z,ECOWAS,NaN,Africa!$!3A,3A,Africa,Africa,...,JA,IBRD,Active,N,"{'Percent': 100, 'Name': 'Health system perfor...","[{'code': '67', 'name': 'Health system perform...",67,0,10000000,http://www.worldbank.org/projects/P125018/west...
46,{'$oid': '52b213b38594d8a2be17c7ae'},2014,September,2013-09-10T00:00:00Z,UGANDA-COMOROS,2018-06-30T00:00:00Z,Africa!$!3A,3A,Africa,Africa,...,"BM,CA,CT",IBRD,Active,N,"{'Percent': 20, 'Name': 'Administrative and ci...","[{'code': '25', 'name': 'Administrative and ci...","39,40,78,25",22000000,22000000,http://www.worldbank.org/projects/P118213/rcip...
47,{'$oid': '52b213b38594d8a2be17c7af'},2014,September,2013-09-09T00:00:00Z,GOVERNMENT OF UKRAINE,NaN,Ukraine!$!UA,UA,Ukraine,Ukraine,...,LT,IBRD,Active,N,"{'Percent': 100, 'Name': 'Climate change'}","[{'code': '81', 'name': 'Climate change'}]",81,0,500000,http://www.worldbank.org/projects/P145138?lang=en
48,{'$oid': '52b213b38594d8a2be17c7b0'},2014,September,2013-09-06T00:00:00Z,UNION OF THE COMOROS,2017-04-30T00:00:00Z,Union of the Comoros!$!KM,KM,Union of the Comoros,Comoros,...,LZ,IBRD,Active,N,"{'Percent': 35, 'Name': 'State-owned enterpris...","[{'code': '43', 'name': 'State-owned enterpris...","39,43",5000000,5000000,http://www.worldbank.org/projects/P131659/km-e...
49,{'$oid': '52b213b38594d8a2be17c7b1'},2014,September,2013-09-06T00:00:00Z,REPUBLIC OF COLOMBIA,2014-12-31T00:00:00Z,Republic of Colombia!$!CO,CO,Republic of Colombia,Colombia,...,"BH,BO,BC",IBRD,Closed,N,"{'Percent': 20, 'Name': 'Gender'}","[{'code': '59', 'name': 'Gender'}, {'code': '5...","28,53,59",600000000,600000000,http://www.worldbank.org/projects/P145605?lang=en

# Display Top Ten Countries With Most Projects

In [54]:
df['countryshortname'].value_counts()[:10]

Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Nepal                 12
Bangladesh            12
Mozambique            11
Africa                11
Name: countryshortname, dtype: int64

# Examine the Data

In [24]:
print(df['mjtheme_namecode'].tail(10))

490    [{'code': '2', 'name': 'Public sector governan...
491    [{'code': '10', 'name': 'Rural development'}, ...
492    [{'code': '8', 'name': 'Human development'}, {...
493    [{'code': '11', 'name': 'Environment and natur...
494    [{'code': '6', 'name': 'Social protection and ...
495    [{'code': '4', 'name': 'Financial and private ...
496    [{'code': '8', 'name': 'Human development'}, {...
497    [{'code': '10', 'name': 'Rural development'}, ...
498    [{'code': '10', 'name': 'Rural development'}, ...
499    [{'code': '9', 'name': 'Urban development'}, {...
Name: mjtheme_namecode, dtype: object

In [12]:
df.shape

(500, 50)

In [13]:
df.columns

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

# Normalize One Row

In [41]:
json_normalize(df.loc[491]['mjtheme_namecode'])

  code               name
0   10  Rural development
1   11

# Convert Series to Dict

In [77]:
projectDict = df[['mjtheme_namecode']].to_dict(orient='records')
projectDict[:5]

[{'mjtheme_namecode': [{'code': '8', 'name': 'Human development'},
   {'code': '11', 'name': ''}]},
 {'mjtheme_namecode': [{'code': '1', 'name': 'Economic management'},
   {'code': '6', 'name': 'Social protection and risk management'}]},
 {'mjtheme_namecode': [{'code': '5', 'name': 'Trade and integration'},
   {'code': '2', 'name': 'Public sector governance'},
   {'code': '11', 'name': 'Environment and natural resources management'},
   {'code': '6', 'name': 'Social protection and risk management'}]},
 {'mjtheme_namecode': [{'code': '7', 'name': 'Social dev/gender/inclusion'},
   {'code': '7', 'name': 'Social dev/gender/inclusion'}]},
 {'mjtheme_namecode': [{'code': '5', 'name': 'Trade and integration'},
   {'code': '4', 'name': 'Financial and private sector development'}]}]

# Use Json_normalize Over All Rows

In [97]:
project_df = json_normalize(projectDict, 'mjtheme_namecode')
project_df[:10]

  code                                          name
0    8                             Human development
1   11
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration
5    2                      Public sector governance
6   11  Environment and natural resources management
7    6         Social protection and risk management
8    7                   Social dev/gender/inclusion
9    7                   Social dev/gender/inclusion

# Fill In Blank Names

In [98]:
#iterate over each row to find blanks
for lab, row in project_df.iterrows():
    if row['name'] == "":
        #iterate again to find same code without blanks
        for lab2, row2 in project_df.iterrows():
            if row['code'] == row2['code'] and row2['name'] != "":
                row['name'] = row2['name']
                break
#check code
project_df.head(50)

   code                                          name
0     8                             Human development
1    11  Environment and natural resources management
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6         Social protection and risk management
14    2                      Public sector governance
15    4      Financial and private sector development
16   11  Environment and natural resources management
17    8                             Human development
18   10                             Rural development
19    7                   Social dev/gender/inclusion
20    2                      Public sector governance
21    2                      Public sector governance
22    2                      Public sector governance
23   10                             Rural development
24    2                      Public sector governance
25   10                             Rural development
26    6         Social protection and risk management
27    6         Social protection and risk management
28   11  Environment and natural resources management
29    4      Financial and private sector development
30    5                         Trade and integration
31   11  Environment and natural resources management
32   10                             Rural development
33    6         Social protection and risk management
34    6         Social protection and risk management
35    6         Social protection and risk management
36   10                             Rural development
37   11  Environment and natural resources management
38    5                         Trade and integration
39   10                             Rural development
40    2                      Public sector governance
41    8                             Human development
42    7                   Social dev/gender/inclusion
43    8                             Human development
44    8                             Human development
45    2                      Public sector governance
46    7                   Social dev/gender/inclusion
47    8                             Human development
48    2                      Public sector governance
49    2                      Public sector governance

# Count the Top Projects

In [99]:
project_df['name'].value_counts()[:10]

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64